@import 'reveal.js/dist/reveal.css';
@import 'reveal.js/dist/theme/black.css';
@import 'reveal.js/plugin/highlight/monokai.css';

@import "@fontsource/manrope";
@import "@fontsource/jetbrains-mono";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --r-main-font: 'Manrope';
    --r-heading-font: 'Manrope';
    --r-code-font: 'JetBrains Mono';
}
