<script>
    import {onMount} from "svelte";

    import Reveal from "reveal.js"
    import Markdown from "reveal.js/plugin/markdown/markdown"
    import Highlight from "reveal.js/plugin/highlight/highlight"
    import Notes from "reveal.js/plugin/notes/notes"

    import Slides from "./Slides.svelte";

    onMount(() => {
        const deck = new Reveal({
            autoAnimateEasing: 'easy',
            autoAnimateDuration: 1,
            hash: true,
            controls: true,
            progress: true
        });
        deck.initialize({
            plugins: [Markdown, Highlight, Notes]
        });
    })
</script>

<div class="reveal">
    <div class="slides">
        <Slides/>
    </div>
</div>
