<script>
    /**
     * The src attribute of the image.
     */
    export let imageSrc;

    /**
     * Additional CSS classes.
     * @type {string}
     */
    export let classes = "";
</script>

<img src={imageSrc} alt="" class="absolute bottom-full left-0 right-0 !mx-auto my-0 {classes}">
