<script>
    import Image from "./Image.svelte";

    import warsawImage from './assets/warsaw.jpg'
    import ciCdImage from './assets/cicd.png'
    import infrastructureImage from './assets/infrastructure.jpg'
    import containerImage from './assets/container.jpg'
    import kubernetesImage from './assets/kubernetes.png'
    import mixImage from './assets/whisk.png'
</script>

<svelte:head>
    <title>DevOps 101: Essential Knowledge for IT Professionals</title>
</svelte:head>

<section>
    <Image imageSrc={warsawImage} classes="h-[50%]"/>
    <h1>DevOps 101</h1>
    <p>Essential Knowledge for IT Professionals</p>
    <p>Westernacher Regional Meeting Warsaw</p>
    <p>1 July 2023</p>
</section>

<section>
    <h2>Defining DevOps</h2>
    <ul>
        <li>The DevOps methodology is about improving the velocity of delivering applications and services.</li>
        <li>Adapts practices from software development for operation teams. Examples:
            <ul>
                <li>Using CI/CD pipelines</li>
                <li>Infrastructure as Code</li>
                <li>Automated testing</li>
                <li>Application containerization and container management</li>
            </ul>
        </li>
        <li>Collaboration and communication between developers and IT operations</li>
    </ul>
</section>

<section>
    <Image imageSrc={ciCdImage} classes="h-[25%]"/>
    <h2>Continuous Delivery / Integration (CI/CD)</h2>
    <ul>
        <li>Using version control such as git for code, scripts, configuration files etc.</li>
        <li>Link merge requests to requirements and tickets.</li>
        <li>Automatically build and test code on <code>git push</code>.</li>
    </ul>
</section>
<section>
    <h2>Continuous Delivery / Integration (CI/CD)</h2>
    <ul>
        <li>Perform code reviews about changes.</li>
        <li>(Semi-)automatically deploy applications or infrastructure</li>
        <li>Store the CI/CD recipes in git itself. Examples: gitlab, bitbucket, github</li>
        <li>Employs build agents to build source code or execute additional tools in isolated and scalable
            environments.
        </li>
        <li>Enables team collaboration</li>
    </ul>
</section>

<section>
    <Image imageSrc={infrastructureImage} classes="h-[20%]"/>
    <h2>Infrastructure as Code</h2>
    <ul>
        <li>IaC is the practice of managing and provisioning computing infrastructure through machine-readable
            definition files, rather than interactive configuration tools
        </li>
        <li>The files are stored in a git repository. CI/CD is used for ensuring quality and for triggering
            deployments.
        </li>
        <li>Reduces the risk of human errors.</li>
    </ul>
</section>
<section>
    <h2>Infrastructure as Code</h2>
    <ul>
        <li>Covers the provisioning of infrastructure, perpetual configuration changes to the provisioned
            infrastructure, and the application deployment.
        </li>
        <li>Declaring a "desired state" is preferred over writing procedural scripts.</li>
        <li>Mutable vs. immutable infrastructure</li>
        <li>Terraform, Ansible, container management with Kubernetes</li>
    </ul>
</section>

<section class="w-full">
    <Image imageSrc={containerImage} classes="h-[10%]"/>
    <h2>Containers</h2>
    <ul>
        <li>Often known as "Docker" which is one of the famous tools for managing containers.</li>
        <li>Lightweight isolated execution environments provided by the Linux kernel.</li>
        <li>A container image can be developed and tested locally and deployed to production directly.</li>
        <li>Abstracts the operating system, storage, and networking.</li>
        <li>Supports an IaC kind of image build process based on a Dockerfile.</li>
    </ul>
</section>

<section>
    <Image imageSrc={kubernetesImage} classes="h-[15%]"/>
    <h2>Kubernetes</h2>
    <ul>
        <li>K8s is a container orchestration tool supporting high availability, scalability, and disaster recovery.</li>
        <li>It starts and monitors containers in a private or public cloud infrastructure.</li>
        <li>Configures and manages networking, storage, and security.</li>
        <li>Uses configurations files in YAML format to implement IaC.</li>
    </ul>
</section>
<section>
    <h2>Kubernetes</h2>
    <ul>
        <li>Follows the declarative and immutable approaches.</li>
        <li>Provides a highly redundant etcd database for storing and monitoring runtime state.</li>
        <li>There are tools to create the YAML manifests from parameterized templates e.g. Helm.</li>
        <li>There are tools supporting the networking requirements of complex microservice infrastructures:
            <ul>
                <li>API gateways</li>
                <li>service meshes e.g. Istio</li>
            </ul>
        </li>
    </ul>
</section>

<section>
    <Image imageSrc={mixImage} classes="h-[10%]"/>
    <h2>Combining everything</h2>
    <ul>
        <li>x as code: infrastructure, networking, policy, configuration, security as code</li>
        <li>IaC is executed in CI/CD pipelines</li>
        <li>Build agents are containers</li>
        <li>Container images are built in CI/CD pipelines</li>
        <li>Microservice infrastructures are hosted in Kubernetes and configured / deployed in CI/CD pipelines.</li>
        <li>The CI/CD infrastructure and tools are hosted in Kubernetes and deployed as IaC.</li>
    </ul>
</section>

<section>
    <h2>Questions?</h2>
</section>
